

.jumbotron {
    background-image: url("../images/volswagenbeetle.jpg");
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.jumbotron h1 {
    align-self: center;
}







.col {
    background-color: blanchedalmond;
    border: 2px solid black;
}
