
/* Jumbotron */

.jumbotron {
    background-image: url("../images/flowerydonut-crop.jpg");
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 0;
}

.jumbotron-text-container {
    height: 10%;
    width: 100%;
    background-color: blanchedalmond;
    margin: 30vh 0;
    display: flex;
    justify-content: center;
}

.jumbotron h1 {
    align-self: center;
    color: purple;
    font-size:60px;
    align-content: center;
}


.row {
    justify-content: center;
    height: 25em;
}

.col {
    background-color: blanchedalmond;
    border: 2px solid purple;

}

.map-column {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Footer */

.border {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: blanchedalmond;
    width: 100%;
}

.footer-links ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 40%;
}
.footer-links ul a {
    flex-wrap: nowrap;
    color: purple;
    justify-content: center;
}

*credits {
    font-size: 10;
}

/* Media Queries */

@media only screen and (max-width: 300px) {
    #logodiv {
        display: flex;
        justify-content: flex-end;
        gap: 15%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media only screen and (max-width: 900px) {
    #logodiv {
        display: flex;
        justify-content: flex-end;
        gap: 30%;
}
}

/* @media only screen and (min-width: 901px) {
    #logodiv {
        display: flex;
        justify-content: flex-end;
        gap: 30%;
}
} */